[access]
	inheritFrom = ENMaaS/3PP
[project]
	description = ABANDONED
[access "refs/*"]
	read = group Replication_Gamma_Migration_DO_NOT_REMOVE
[plugin "eiffel"]
	enabled = false
[plugin "uploadvalidator"]
	blockedContentTypeWhitelist = false
	maxPathLength = 0
	rejectDuplicatePathnames = false
	rejectDuplicatePathnamesLocale = en
	rejectSubmodule = false
	rejectSymlink = false
	rejectWindowsLineEndings = false
